:root,
[data-theme="dark"] {
  --bg: #0d0e14;
  --text: #e2e8f0;
  --muted: #94a3b8;
  --primary: #D46475;
  --border: rgba(91, 107, 175, 0.25);
  --border-soft: rgba(91, 107, 175, 0.15);
  --gradiente-opacity-1: 0.07;
  --gradiente-opacity-2: 0.08;
}

[data-theme="light"] {
  --bg: #f8f9fc;
  --text: #1a1d2e;
  --muted: #252527;
  --primary: #5B6BAF;
  --border: rgba(91, 107, 175, 0.2);
  --border-soft: rgba(76, 89, 146, 0.3);
  --gradiente-opacity-1: 0.25;
  --gradiente-opacity-2: 0.3;
}


.menuContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5vh;
    left: 0;
    width: 230px;
    padding-left: 1.8rem;
    padding-top: 3rem;
    gap: 1rem;
    z-index: 999;
    height: 100vh;
    background-color: var(--bg);
    border-right: 1px solid rgba(91, 107, 175, 0.35);
    font-family: "DM Sans", sans-serif;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    text-decoration: none;
    color: var(--muted);
    padding: 0.8rem 1rem;
    border-radius: 10px;
    transition: 0.2s;
}

.link:hover {
    color: var(--primary);
    transform: translateY(-2px);

}

@media (max-width: 1024px) {
    .menuContainer {
        width: 220px;
        padding: 1.5rem;
    }

    .link {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .menuContainer {
        width: 100%;
        height: auto;

        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        top: auto;
        padding: 0.5rem 1rem;
        border-top: 1px solid #ddd;
        border-right: none;
    }

    .link {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 0.72rem;
        gap: 0.25rem;
        padding: 0.5rem;
    }
}

.botaoTema{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: var(--muted);
    cursor: pointer;
    transition: 0.2s;
}

.botaoTema:hover {
    color: var(--primary);
}