header {
  font-family: "DM Sans";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid var(--primary);
  background-color: transparent;
  min-height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.rightSection,
.nav,
.menuButton,
.languageButton {
  display: flex;
  align-items: center;
}

.rightSection {
  gap: clamp(1rem, 3vw, 2.5rem);
}

.languageButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.logo {
  width: clamp(8rem, 20vw, 13rem);
}

.nav {
  display: flex;
  gap: clamp(1rem, 3vw, 2.5rem);
}

.link,
.languageButton {
  font-weight: 500;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--muted);
  transition: color 0.2s;
}

.link:hover,
.languageButton:hover {
  transform: translateY(-2px);
}

.separator {
  width: 1px;
  height: 1.5rem;
  background-color: var(--primary);
}

.languageButton {
  gap: 0.5rem;
}

@media (max-width: 768px) {
  header {
    padding: 0 1rem;
  }

  .rightSection {
    gap: 1rem;
  }

  .nav {
    display: none;
  }

  .separator {
    display: none;
  }
}

.botaoTema{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: var(--muted);
    cursor: pointer;
    transition: 0.2s;
}

.botaoTema:hover {
    color: var(--primary);
}
