:root,
[data-theme="dark"] {
  --bg: #0d0e14;
  --text: #e2e8f0;
  --muted: #94a3b8;
  --primary: #D46475;
  --border: rgba(91, 107, 175, 0.25);
  --border-soft: rgba(91, 107, 175, 0.15);
  --gradiente-opacity-1: 0.07;
  --gradiente-opacity-2: 0.08;
}

[data-theme="light"] {
  --bg: #f8f9fc;
  --text: #1a1d2e;
  --muted: #252527;
  --primary: #5B6BAF;
  --border: rgba(91, 107, 175, 0.2);
  --border-soft: rgba(76, 89, 146, 0.3);
  --gradiente-opacity-1: 0.25;
  --gradiente-opacity-2: 0.3;
}


header {
  font-family: "DM Sans";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid var(--primary);
  background-color: transparent;
  min-height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.rightSection,
.nav,
.menuButton,
.languageButton {
  display: flex;
  align-items: center;
}

.rightSection {
  gap: clamp(1rem, 3vw, 2.5rem);
}

.languageButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.logo {
  width: clamp(8rem, 20vw, 13rem);
}

.nav {
  display: flex;
  gap: clamp(1rem, 3vw, 2.5rem);
}

.link,
.languageButton {
  font-weight: 500;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--muted);
  transition: color 0.2s;
}

.link:hover,
.languageButton:hover {
  transform: translateY(-2px);
}

.separator {
  width: 1px;
  height: 1.5rem;
  background-color: var(--primary);
}

.languageButton {
  gap: 0.5rem;
}

@media (max-width: 768px) {
  header {
    padding: 0 1rem;
  }

  .rightSection {
    gap: 1rem;
  }

  .nav {
    display: none;
  }

  .separator {
    display: none;
  }
}
